/* .main {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.hero{
    
    margin-top: 180px;
    margin-bottom: 100px;
}
.main-heading {
  color: rgba(17, 63, 103);
  text-transform: uppercase;
}

.main-heading-primary {
  display: block;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 30px;
  animation: moveInLeft 1s ease-out;
  
}

.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
 
  letter-spacing: 8px;
  /* letter-spacing: 31px; */
  /* color: hotpink; */
  color: rgb(77, 144, 180);
  margin-top: 30px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  
  80% {
    transform: translateX(10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  
  80% {
    transform: translateX(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}